.header-container{
    display: flex;
    height: 50px;
    border-bottom: 1px solid lightgray;
    justify-content: space-between;
    padding: 5px;
    top: 0px; /* This sets the top position for sticky */
    position: sticky; /* This enables the sticky behavior */
    background-color: white; /* Ensure the background color is set */
    z-index: 1000; 
}

.menu-item-card-info{
    display: flex;
    flex-direction: column;
}

.menu-card-container{
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    margin-top: 2rem;
}

.menu-item-card-info>span:first-child{
    font-size: large;
    font-weight: bold;
}

.menu-item-card-info>span:nth-child(2){
    font-weight: bold;
}

.menu-item-card-info>span:nth-child(3){
    font-weight: bold;
    color: green;
    margin-top: 1.5rem;
}

.container-card>hr{
    color: lightslategray;
    margin-top: 1rem;
}


.menu-item-card-info>span:nth-child(4){
    color: gray;
    font-size: medium;
    margin-top: 0.5rem;
}

.menu-item-card-image{
    align-self: center;
}

.item-image{
    width: 150px;
    height: 150px;
    border-radius: 8px;
}

.restaurant-card-menu-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: 50%;
    margin-left: 25rem;
    height: 100%;
}

.footer-container{
    background-color: rgb(240, 240, 245);
    width: 100%;
    height: 200px;
    margin-top: 3rem;
}

.footer-container>.first-component{
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-top: 1.5rem;
    /* margin-top: 3rem */
}
.footer-container>.socialLinks{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 50px;
    gap: 1rem;
}

.footer-container>.socialLinks>img{
    width: 20px;
    align-self: center;
    height: 20px;
}

.footer-container>.first-component>img{
    width: 200px;
    height: 70px;

}

.Loginbtn{
    padding: 3px 3px;
    height: fit-content;
    background-color: black;
    color: white;
    border-radius: 10%;
}


.shimmer-card{
    width:250px;
    height:150px;
    padding: 4px;
    display: flex;
    flex-direction: column;
    background-color: rgb(241, 238, 238);
    border-radius: 5%;

}

.shimmer-container{
    margin-top: 5rem;
    margin-left: 4rem;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem 4rem;
}

.search-container{
    padding: 1rem;
    display: flex;
    gap:0.2rem;
}



.res-container{
    margin-top: 2rem;
    margin-left: 8rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.res-container>a{
    text-decoration: none;
}

.card-logo{
    width: 15rem;
    height: 10rem;
    border-radius: 5%;
    border: 1.5px solid lightgray;
}

.res-card{
    width:300px;
    padding: 4px;
    display: flex;
    flex-direction: column;
}

/* .carouseldailycontainer{
    width: 100px;
    height: 100px;
} */

.header-carousel,.top-restaurant-carousel{
    display: flex;
    justify-content: space-between;
}

.redirect-buttons{
    align-self: center;
}

.whole-carousel-container,.top-restaurant-container{
    margin-left: 8rem;
    width:80%;
}

.lineBreaks{
    width: 82%;
    margin-top: 2rem;
}

.carouselimage{
    width:150px;
    height: 200px;
}

.carouselimage:hover{
    cursor: pointer;
}

.carousel-container,.toprest-container{
    display: flex;
    /* flex-wrap: wrap; */
    gap:1rem;
    overflow-x: scroll;
}

.button-top{
    padding: 4px;
    margin-left: 30px;
    background-color: black;
    color: white;
}

.res-card:hover{
    transform: scale(0.9);
}

.infoCardContent{
    display: flex;
    flex-direction: column;
    margin-top: 0.3rem;
    margin-left: 0.6rem;
}

.title-name{
    font-weight: bold;
    font-size: large;
    padding: 1px;
}

.area-Name,.cuisines-Name{
    font-size: small;
    font-family: system-ui;
    color: gray;

}

.deliverytime{
    padding: 1px;
    font-weight: bold;
}
.logo{
    border-radius: 50%;
    width: 60px;
}

.links{
    display: flex;
    list-style-type: none;
    margin: 1px;
}

.links>li>a{
    text-decoration: none;
}

a:visited,a{
    text-decoration-color: black;
    color:black;
}

.links>li,.links>button{
    margin-left: 20px;
    align-self: center;
    text-decoration: none;

}